@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/dot.css";
@import "components/icon-row.css";
@import "components/alternative-screen-header.css";
@import "components/top-bar-fixed.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/chats.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/chat.css";
@import "screens/view.css";

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Jua&family=Noto+Sans+KR:wght@100;300;500;900&display=swap");

body {
  height: 100vh;
  color: rgb(27, 27, 27);
  background-color: white;
  font-family: "Jua", sans-serif;
}

.main-screen {
  padding: 110px var(--horizontal-space) 0;
}
