.alt-header {
  position: fixed;
  width: 100%;
  padding: 45px var(--horizontal-space) 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 100px;

  /* justify-content: space-between; */
}

.alt-header__title {
  font-size: 25px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:last-child {
  margin-left: auto;
}

body {
  height: 1000vh;
}
