.icon-row {
  display: flex;
  justify-content: space-around;
}

.icon-row_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 1s ease-in-out;
  color: var(--main-color-dark);
}

.icon-row_icon span {
  color: rgba(0, 0, 0, 0.8);
}

.icon-row_icon span:not(.contacts) {
  margin-top: 18px;
}

.icon-row_icon:hover {
  cursor: pointer;
  color: black;
}
