.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 45px var(--horizontal-space) 18px;
  align-items: center;
  margin-bottom: 15px;
  background-color: var(--main-color);
}

.screen-header__title {
  font-size: 32px;
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog {
  animation: rotateCog 2s linear infinite;
}
